#accountDetails{
    width: 30%;
    background-color: var(--form-bg);
    border-bottom: 2px solid black;
    margin: auto;
}

#accountDetails label{
    text-align: right;
    font-size: 2vh;
}

#accountDetails h1, h2{
    text-align: center;
}

#accountDetails button{
    font-size: 2vh;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: .5vh;
}

