#reservationHistory{
    background-color: var(--form-bg);
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.reservationDetail{
    width: 10%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    background-color: var(--selected-item);
}

.reservation-row{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#reservationHistory .route-row{
    width: 80%;
    border: 0;
    background-color: transparent;

}

.route-details{
    border-bottom: 1px solid black;
}

.container-list{
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 80%;
    margin: auto;
}

.container-list .containerItem{
    margin: auto;
    width: 100%;
}

.status-pending {
  background-color: #007bff; /* blue */
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}

.status-settled {
  background-color: #28a745; /* green */
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}

.status-due {
  background-color: #fd7e14; /* orange */
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}

.status-overdue {
  background-color: #dc3545; /* red */
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}
