#loginForm{
    width: 20%;
    height: 40vh;
    background-color: var(--form-bg);
    margin: auto;
    border-bottom: 2px solid black;
}

#loginForm form{
    margin-top: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm input{
    width: 60%;
    height: 2vh;
    text-align: center;
}

#loginForm h2, #loginForm p {
    text-align: center;
    margin: 10px 0;
}

#loginForm a{
    margin-top: 2vh;
}