#headerDiv
{
    width: 100%;
    margin: 0;
    height: 4vh;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: space-between;
}

#headerLoginDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    text-align: right;
    align-items: center;
}